@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
body{
  font-family: 'Ubuntu', sans-serif;
  background:linear-gradient(to right,#6d28d9 0%,#a65fec 100%);
}
.bg_clr{
  background:linear-gradient(to right,#6d28d9 0%,#a65fec 100%);
}
.scrollBar{
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background:linear-gradient(to right,#6d28d9 0%,#a65fec 100%);
  border-radius: 10px;
}